/* Hide tab borders */
:root {
  --tabs-border: transparent !important;
}

#tabbrowser-tabs {
    font-family: scientifica !important;
    font-weight: bold !important;
    background-color: black !important; 
    text-align: center !important;
    --tab-min-height: 18px !important;
    margin-left: 0px !important;
    height: 20px !important;
}

/* Hide separators between background tabs */
.tabbrowser-tab::before, .tabbrowser-tab::after {
    opacity: 0 !important; 
}

/* tab line - adjust color & size */ 
.tab-line { 
  background-color: #0a84ff !important; 
  height: 0px !important;
}


/* hide elements  */
.urlbar-icon, #page-action-buttons, #back-button, #forward-button, #identity-box, .tab-close-button, .tabs-newtab-button {
   display: none !important;
}

/* change menu image */
#PanelUI-menu-button {
    list-style-image: url("chrome://browser/skin/page-action.svg") !important;
}

/* url bar */
#nav-bar {
   height: 22px !important;
   background-color: black !important;
   color: pink !important;
}

#urlbar, .searchbar-textbox {
   background-color: black !important;
   color: pink !important;
   font-family: scientifica !important;
   font-weight: bold !important;
   text-align: center !important;
   border: none !important;
   border-radius: 0 !important;
   margin: -12px 0 !important;
   padding-left: 30px !important;
}

.toolbarbutton-badge-stack {
   border: none !important;
   border-radius: 0 !important;
}

/* remove scrollbar */
:-moz-any(#content,#appcontent) browser{
 margin-right:-14px!important;
 overflow-y:scroll;
 margin-bottom:-14px!important;
 overflow-x:scroll;
}
